<app-header></app-header>

<ng-template [ngIf]="hasResult">
  <section>
    <div class="card">
      <div class="card-header">
        <img  [src]="pokemon[0].sprites?.other?.dream_world?.front_default"
              [alt]="pokemon[0].name">
        <h1>{{pokemon[0].name}}</h1>
      </div>
      <div class="statistics-container">
        <h3>Estatísticas</h3>
      </div>
      <article >
        <section>

          <ol>
            <li *ngFor="let value of pokemon[0].stats" style="color: antiquewhite">
              {{ value.stat.name }}

              <strong style="color: #FFCB05;font-weight: 600">
                {{ value.base_stat }}
              </strong>
            </li>
            <div class="btn-back">
              <a [routerLink]="['']" class="btn btn__secondary">
                Voltar
              </a>
            </div>

          </ol>


        </section>


      </article>

    </div>
  </section>

</ng-template>


